.l-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.l-row--narrow {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.l-row--halves {
    justify-content: space-between;
}

.l-row--halves > * {
    flex-basis: calc(50% - 20px);
}