// ----------------------------
// header
// ----------------------------

.c-header {
  position: fixed;
  width: 100%;

  padding: 1rem;
  height: #{(60 / 18)}rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: #{(20 / 18)}rem;
}

.c-header__brand {
  font-size: #{(40 / 18)}rem;
  line-height: 1;

  .o-brand__logo {}
}

.c-header__menu { }

.c-header__toggle {
  position: absolute;
}
