// ----------------------------
// section
// ----------------------------

.c-section {}

.c-section__content {
  font-size: 18px;

  @media (min-width: $layout-max-width) {
    font-size: 24px;
  }
}

.c-section__title {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 0;

  @media (min-width: $layout-max-width) {
    font-size: 100px;
  }
}

.c-section__title + * {
  margin-top: 0;
}

.c-section__media {}

.c-section--hero {
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 100vh;

  @media (max-width: 649px) {
    .c-section__content {
      height: percentage($layout-column-aspect);
    }
    .c-section__media {
      margin-top: percentage($layout-gutter-aspect);
      height: percentage($layout-column-aspect);
    }
  }

  @media (min-width: 650px) {
    flex-direction: row;
    padding: #{($section-padding-top-aspect * 100)}vh 25px 0;

    .c-section__content {
      width: percentage($layout-column-aspect);
    }
    .c-section__media {
      margin-left: percentage($layout-gutter-aspect);
      width: percentage($layout-column-aspect);
    }
  }

  @media (min-width: ($layout-max-width + 50px)) {
    justify-content: center;
    padding: #{($section-padding-top-aspect * 100)}vh 0 0 0;

    .c-section__content {
      width: $layout-column-width;
    }
    .c-section__media {
      margin-left: $layout-gutter-width;
      width: $layout-column-width;
    }
  }
}

.c-section--fixed-hero {
  @extend .c-section--hero;

  box-shadow: inset 0 -30px 30px -30px rgba(0,0,0,0.2);

  background-size: 66vw auto;
  background-repeat: no-repeat;
  background-position: center 50vh;

  @media (min-width: 650px) {
    background-position: top #{($section-padding-top-aspect * 100)}vh right 25px;
    background-size: calc(#{percentage($layout-column-aspect)} - 25px) auto;
    background-attachment: fixed;
  }

  @media (min-width: ($layout-max-width + 50px)) {
    background-position: top #{($section-padding-top-aspect * 100)}vh left calc(50vw + 40px);
    background-size: $layout-column-width auto;
  }
}

.c-section--intro {
  background-color: #edf1f6;
  //background-image: url(../images/sparx-mobile.gif);
  background-image: url(../images/phone-mergein-rough.png);

  .c-section__content {
    font-size: 24px;
    color: #313233;

    @media (min-width: $layout-max-width) {
      font-size: 36px;
    }
  }
}

.c-section--bio {
  background-color: #F6F6F6;
  //background-image: url(../images/dpi-mobile.gif);
  background-image: url(../images/phone-mergein-finished.png);
}


/*
.c-section {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.c-section__header {
  margin-bottom: 1rem;
}
.c-section__content {}

.c-section__title {
  text-align: center;
  font-weight: normal;
  font-size: $type-size--up-3;
  margin: 0;
}

.c-section__subtitle {
  color: #666;
  text-align: center;
  font-weight: normal;
  font-size: $type-size--up-1;
  margin: 0.5rem 0 0;
}

.c-section__media {}

.c-section--portfolio {
  background: $grey-cool-25;
  color: $grey-cool-60;

  .c-section__title {
    color: $grey-cool-86;
  }
  .c-section__subtitle {
    color: $grey-cool-60;
  }
}

.c-section--skunkworks {
  .c-section__content {
    padding: 0 1rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
  }
}

.c-section--experience {

}

.c-section--contact {

}
*/

// heros ----------------------

$hero-width: 100vw;
$hero-gap: ($hero-width * 0.05);
$hero-col: ($hero-width / 2) - ($hero-gap / 2);

$hero-big-width: 1000px;
$hero-big-gap: ($hero-big-width * 0.05);
$hero-big-col: ($hero-big-width / 2) - ($hero-big-gap / 2);
/*
.c-section--hero {
  height: 100vh;
  padding: 0 $hero-gap;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  .c-section__content {
    margin-right: $hero-gap;
  }

  .c-section__content,
  .c-section__figure {
    height: 70%;
    width: $hero-col;
  }

  .c-section__title,
  .c-section__subtitle {
    text-align: left;
  }

  @media (min-width: $hero-big-width) {
    padding: 0;
    .c-section__content {
      margin-right: $hero-big-gap;
    }
    .c-section__content,
    .c-section__figure {
      width: $hero-big-col;
    }
  }
}

.c-section--intro {
  box-shadow: inset 0 -30px 30px -30px rgba(0,0,0,0.2);

  background: #edf1f6 url(../images/sparx-mobile.gif) no-repeat #{50vw + ($hero-gap / 2)} 30vh;
  background-size:  #{$hero-col} auto;
  background-attachment: fixed;

  .c-section__content {
    margin-right: #{$hero-col + $hero-gap};
  }

  .c-section__title {
    line-height: 1;
    margin-bottom: 3rem;
    @include responsiveType(5.5);
  }
  .c-section__subtitle {
    margin: 0.5rem 0;
    @include responsiveType(2);
  }
  h3 {
    margin: 0.5rem 0;
    @include responsiveType(1);
  }

  @media (min-width: $hero-big-width) {
    background-position: calc(50vw + #{($hero-big-gap / 2)}) 30vh;
    background-size:  #{$hero-big-col} auto;

    .c-section__content {
      margin-right: #{$hero-big-col + $hero-big-gap};
    }
  }
}

.c-section--bio {
  box-shadow: inset 0 -30px 30px -30px rgba(0,0,0,0.2);

  background: url(../images/dpi-mobile.gif) no-repeat calc(50vw + #{($hero-gap / 2)}) 30vh;
  background-size:  #{$hero-col} auto;
  background-attachment: fixed;

  .c-section__content {
    margin-right: #{$hero-col + $hero-gap};
  }

  @media (min-width: $hero-big-width) {
    background-position: calc(50vw + #{($hero-big-gap / 2)}) 30vh;
    background-size:  #{$hero-big-col} auto;

    .c-section__content {
      margin-right: #{$hero-big-col + $hero-big-gap};
    }
  }
}
*/