.c-menu {
  $block: &;

  &__list {
    // TODO: move to a "reset list" mixin
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-direction: row;
    gap: var(--font-0);
  }

  &__item {}

  &__link {
    color: inherit;
  }
}

.c-header {
  padding: {
    top: var(--font-0);
    bottom: var(--font-0);
  }

  &__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.c-footer {
  padding: {
    top: var(--font-0);
    bottom: var(--font-0);
  }

  &__primary {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    > * {
      flex: 1 1 auto;

      &:first-child {
        flex: 2 2 auto;
      }
    }
  }

  &__secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.c-section {
  $block: &;
  // TODO: need to stop using font sizes
  padding: {
    top: var(--font-5);
    bottom: var(--font-5);
  }
  background-color: var(--c-section-bg, transparent);

  &--low {
    --c-section-bg: var(--color-neutral-050);
  }
  &--medium {
    --c-section-bg: var(--color-primary-050);
  }
  &--high {
    --c-section-bg: var(--color-neutral-100);
  }

  &--feature {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}

.c-figure {
  $block: &;
  display: flex;
  flex-direction: column;
  gap: var(--font-1);
  margin-bottom: var(--font-0);

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
  }

  &__media {
    width: 100%;
    // FIXME: please
    max-height: 650px;

    @media (min-width: 1024px) {
      flex: 1 0 50%;
      min-width: 0;
      // FIXME: pretty please
      max-height: 380px;
    }

    &--image {
      height: auto;
      object-fit: cover;
      object-position: top;
    }

    &--embed {
      // position: relative;
      // height: 0;
      // padding-top: 46%;

      > * {
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        // height: 100%;
      }
    }
  }

  &__content {
    @media (min-width: 1024px) {
      flex: 1 0 50%;
    }
  }
}
