@use 'sass:math';
@forward './brand/styles';
@forward './button/styles';
@use '../foundations';
@use '../helpers';

.c-menu {
  $block: &;

  &__list {
    // TODO: move to a "reset list" mixin
    list-style: none;
    padding-left: 0;
    margin: {
      top: 0;
      bottom: 0;
    }

    display: flex;
    flex-direction: row;
    gap: var(--scale-0);
    align-items: center;

    #{$block}--stacked & {
      flex-direction: column;
      gap: var(--scale--6);
      align-items: flex-start;
    }
  }

  &__item {}
}

.c-header {
  padding: {
    top: var(--scale--3);
    bottom: var(--scale--3);
  }

  &__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: currentColor;
  }
}

.c-footer {
  $block: &;

  padding: {
    top: var(--scale-1);
    bottom: var(--scale-1);
  }

  &__primary {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--scale--3) var(--scale-0);

    > * {
      flex: 1 1 auto;
      margin: 0;

      &:first-child {
        flex: 2 2 auto;
      }
    }
  }

  &__secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--scale--3) var(--scale-0);

    > * {
      margin: 0;
    }
  }

  &__primary + &__secondary {
    margin-top: var(--scale-0);
  }
}

.c-section {
  $block: &;
  // TODO: need to stop using font sizes
  padding: {
    top: var(--scale-8);
    bottom: var(--scale-8);
  }
  background-color: var(--c-section-bg, transparent);
  background-image: var(--c-section-bg-image, none);

  &--low {
    --c-section-bg: var(--color-neutral-050);
  }
  &--medium {
    --c-section-bg: var(--color-primary-050);
  }
  &--high {
    --c-section-bg: var(--color-neutral-100);
  }

  &--feature {
    min-height: 100vh;
    display: flex;
    align-items: center;
    // box-shadow: inset 0 calc(var(--scale-4) * -1) var(--scale-4) calc(var(--scale-4) * -1) rgb(0,0,0, 0.276);
    @include foundations.elevation-lift(9, true);
  }

  &--phoney {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100vh;
    background-position: left calc(50vw - 9vh) bottom -30vh;
  }
}

.c-feature {
  margin: {
    left: auto;
    right: auto;
  }
  display: flex;
  flex-direction: row;
  gap: var(--scale-1);

  width: math.div(8, 12) * 100%;

  > * {
    width: 50%;
  }
}

.c-definition {
  &__title {
    @include foundations.type-overline;
  }
  &__content {
    margin-left: 0;
    margin-bottom: var(--scale-0);
  }
}

.c-figure {
  $block: &;

  display: flex;
  flex-direction: column;
  gap: var(--scale-1);
  margin-bottom: var(--scale-1);

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
  }

  &__media {
    width: 100%;
    // FIXME: please
    max-height: 650px;
    // box-shadow: 0 2px var(--scale-1) 0 rgb(0,0,0,0.2), 0 2px var(--scale--6) 0 rgb(0,0,0,0.1);
    @include foundations.elevation-lift(15);
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow, transform;
    backface-visibility: hidden;

    // &:hover {
    //   transform: translateY(calc(var(--scale--2) * -1));
    //   @include foundations.elevation-lift(6);
    // }

    @media (min-width: 1024px) {
      flex: 1 1 50%;
      min-width: 0;
      // FIXME: pretty please
      max-height: 380px;
    }

    &--image {
      height: auto;
      object-fit: cover;
      object-position: top;
    }

    &--embed {
      // position: relative;
      // height: 0;
      // padding-top: 46%;

      > * {
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        // height: 100%;
      }
    }
  }

  &__content {
    @media (min-width: 1024px) {
      flex: 1 1 50%;
    }
  }
}
