<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <p>&copy; Copyright {{ site.buildYear }} Keith Daulton and respective brands. All rights reserved.</p>
    <nav>
      <a href="/get-lost.html">get lost</a>
      <a href="#top"><d-icon-library icon="arrow-up"></d-icon-library><span class="o-sr-only">Back to top</span></a>
    </nav>
  </div>
</footer>
