<!-- HEADER -->
<header class="header header--pinned" id="header">
  <div class="container container--wide">
    <div class="header__group">
      <a href="/" class="logo"> {% image "media/branding/logo-square.png", "Keith Daulton", "28px", [28, 56] %} </a>
    </div>
    <nav class="header__group" id="nav" aria-label="Main Navigation">
      <ul class="nav-inline">
        <li><a href="#about">About</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#connect">Connect</a></li>
      </ul>
    </nav>
    <div class="header__group">
      <!-- TODO: add theme switcher -->
      <a href="https://github.com/d13" target="_blank" rel="noopener"
        ><d-icon-library icon="github"></d-icon-library><span class="o-sr-only">Me on GitHub</span></a
      >
    </div>
  </div>
</header>
