<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ title | default(site.title) }}</title>
<meta name="description" content="{{ description | default(site.description) }}" />
<meta name="keywords" content="{{ keywords | default(site.keywords) }}" />
<meta name="author" content="{{ site.author }}" />

<meta name="theme-color" content="{{ site.manifest.themeColor }}" />
<meta name="msapplication-TileColor" content="{{ site.manifest.themeColor }}" />

{% favicon 'media/branding/logo-square.png' %}
<link rel="manifest" href="site.webmanifest" />

<meta property="og:title" content="{{ ogTitle | default(title) | default(site.title) }}" />
<meta property="og:description" content="{{ ogDescription | default(description) | default(site.description) }}" />
<meta property="og:image" content="{{ ogImage | default(site.og.defaultImage) }}" />

<link rel="preconnect" href="https://p.typekit.net" />
<link rel="preconnect" href="https://use.typekit.net" />
<link rel="preload" href="https://use.typekit.net/bdx2zst.css" as="style" />

<link rel="stylesheet" href="styles/base.css" />
{% if stylesheet %}
<link rel="stylesheet" href="styles/{{ stylesheet }}" />
{% endif %}
<script type="module" src="js/{{ bundle | default('index.js') }}"></script>
