{% macro hero(title, subtitle, tagline, heroComponent = "d-hero-image", id = "hero") %}
<!-- HERO -->
<section class="hero" id="{{ id }}">
  <{{ heroComponent }} class="hero__media"></{{ heroComponent }}>
  <hgroup class="hero__content">
    <div class="container container--wide">
      <h1 class="hero__heading">{{ title }}</h1>
    </div>
    <div class="hero__subgroup" id="hero-subgroup">
      <div class="container container--wide">
        <p class="hero__subheading">{{ subtitle }}</p>
        <p class="hero__tagline">{{ tagline }}</p>
      </div>
    </div>
  </hgroup>
</section>
{% endmacro %}
