/**
 * TABLE OF CONTENTS
 *  props........ tokens for fonts, colors, sizing, spacing
 *  base......... normalize
 *  patterns..... classes for common patterns
 *  utilities.... generic helper classes
 *  overrides.... styles with a sledgehammer
 */
@layer props, base, patterns, utilities, overrides;

@import url(https://use.typekit.net/bdx2zst.css) layer(props.fonts);

@layer props.raw {
  :root {
    --color-raw-blue-05: rgb(2, 17, 38);
    --color-raw-blue-10: rgb(4, 28, 56);
    --color-raw-blue-20: rgb(10, 49, 91);
    --color-raw-blue-30: rgb(19, 71, 128);
    --color-raw-blue-40: rgb(28, 95, 168);
    --color-raw-blue-50: rgb(37, 120, 210);
    --color-raw-blue-60: rgb(62, 146, 247);
    --color-raw-blue-70: rgb(127, 172, 249);
    --color-raw-blue-80: rgb(174, 199, 251);
    --color-raw-blue-90: rgb(216, 227, 253);
    --color-raw-blue-95: rgb(236, 241, 254);

    --color-raw-red-05: rgb(42, 2, 3);
    --color-raw-red-10: rgb(62, 5, 6);
    --color-raw-red-20: rgb(100, 12, 15);
    --color-raw-red-30: rgb(141, 21, 25);
    --color-raw-red-40: rgb(184, 31, 36);
    --color-raw-red-50: rgb(229, 41, 47);
    --color-raw-red-60: rgb(245, 94, 96);
    --color-raw-red-70: rgb(246, 141, 143);
    --color-raw-red-80: rgb(249, 181, 182);
    --color-raw-red-90: rgb(251, 219, 219);
    --color-raw-red-95: rgb(253, 237, 237);

    --color-raw-neutral-05: rgb(14, 17, 21);
    --color-raw-neutral-10: rgb(24, 28, 33);
    --color-raw-neutral-20: rgb(43, 49, 57);
    --color-raw-neutral-30: rgb(63, 71, 82);
    --color-raw-neutral-40: rgb(84, 95, 109);
    --color-raw-neutral-50: rgb(107, 120, 137);
    --color-raw-neutral-60: rgb(130, 146, 167);
    --color-raw-neutral-70: rgb(157, 173, 193);
    --color-raw-neutral-80: rgb(189, 199, 213);
    --color-raw-neutral-90: rgb(222, 227, 234);
    --color-raw-neutral-95: rgb(239, 241, 244);
  }
}

@layer props.colors {
  :root {
    --color-static-accent-01: #fff;
    --color-static-accent-02: #0d1017;
    --color-static-accent-03: #622fb4;
    --color-static-accent-04: #202945;
    --color-static-accent-05: #bee81e;
    --color-static-accent-06: #ffec00;
    --color-static-accent-07: #a021ff;
    --color-static-accent-08: #ffcc00;
  }
}

@layer props.color {
  :where([data-theme='auto'], [data-theme='light']) {
    color-scheme: light;
    --color-min: #fff;
    --color-max: #000;

    --color-focus-foreground: var(--color-raw-blue-50);

    --color-primary-background: var(--color-min);
    --color-primary-foreground: var(--color-raw-neutral-10);

    --color-link-foreground: var(--color-raw-blue-50);
    --color-link-hover-foreground: var(--color-raw-blue-40);
    --color-link-visited-foreground: color-mix(in srgb, var(--color-raw-blue-50) 65%, var(--color-raw-red-50));

    --color-elevation-shadow: rgba(0, 0, 0, 0.6);
  }

  @media (prefers-color-scheme: dark) {
    :where([data-theme='auto']) {
      color-scheme: dark;
      --color-min: #000;
      --color-max: #fff;

      --color-primary-background: var(--color-raw-neutral-10);
      --color-primary-foreground: var(--color-raw-neutral-90);

      --color-link-foreground: var(--color-raw-blue-60);
      --color-link-hover-foreground: var(--color-raw-blue-50);
      --color-link-visited-foreground: color-mix(in srgb, var(--color-raw-blue-60) 65%, var(--color-raw-red-60));

      --color-elevation-shadow: rgba(0, 0, 0, 0.6);
    }
  }

  :where([data-theme='dark']) {
    color-scheme: dark;
    --color-min: #000;
    --color-max: #fff;

    --color-primary-background: var(--color-raw-neutral-10);
    --color-primary-foreground: var(--color-raw-neutral-90);

    --color-link-foreground: var(--color-raw-blue-60);
    --color-link-hover-foreground: var(--color-raw-blue-50);
    --color-link-visited-foreground: color-mix(in srgb, var(--color-raw-blue-60) 65%, var(--color-raw-red-60));

    --color-elevation-shadow: rgba(0, 0, 0, 0.6);
  }
}

@layer props.sizing {
  :root {
    /* modular scale tokens - https://docs.google.com/spreadsheets/d/1hX1n-Z9jlRxA6zbIf2z8VYe56AYGVC_M2xTw9SNGwyc/edit#gid=0 */
    --size-scale: 1.2;
    --size--5: calc(pow(var(--size-scale), -5) * 1rem);
    --size--4: calc(pow(var(--size-scale), -4) * 1rem);
    --size--3: calc(pow(var(--size-scale), -3) * 1rem);
    --size--2: calc(pow(var(--size-scale), -2) * 1rem);
    --size--1: calc(pow(var(--size-scale), -1) * 1rem);
    --size-0: 1rem;
    --size-1: calc(pow(var(--size-scale), 1) * 1rem);
    --size-2: calc(pow(var(--size-scale), 2) * 1rem);
    --size-3: calc(pow(var(--size-scale), 3) * 1rem);
    --size-4: calc(pow(var(--size-scale), 4) * 1rem);
    --size-5: calc(pow(var(--size-scale), 5) * 1rem);
    --size-6: calc(pow(var(--size-scale), 6) * 1rem);
    --size-7: calc(pow(var(--size-scale), 7) * 1rem);
    --size-8: calc(pow(var(--size-scale), 8) * 1rem);
    --size-9: calc(pow(var(--size-scale), 9) * 1rem);
    --size-10: calc(pow(var(--size-scale), 10) * 1rem);
    --size-11: calc(pow(var(--size-scale), 11) * 1rem);
    --size-12: calc(pow(var(--size-scale), 12) * 1rem);
    --size-13: calc(pow(var(--size-scale), 13) * 1rem);
    --size-14: calc(pow(var(--size-scale), 14) * 1rem);
    --size-15: calc(pow(var(--size-scale), 15) * 1rem);
  }

  @media (min-width: 640px) {
    :root {
      --size-scale: 1.26;
    }
  }

  @media (min-width: 800px) {
    :root {
      --size-scale: 1.333;
    }
  }
}

@layer props.spacing {
  :root {
    --spacing-xs: var(--size--5);
    --spacing-sm: var(--size--3);
    --spacing-md: var(--size--1);
    --spacing-lg: var(--size-0);
    --spacing-xl: var(--size-1);
    --spacing-2xl: var(--size-4);
    --spacing-3xl: var(--size-8);
  }
}

@layer props.elevation {
  :root {
    --elevation-behind: -1;
    --elevation-inline: 1;
    --elevation-sticky: 1000;
    --elevation-cover: 1100;
    --elevation-dialog: 1200;
    --elevation-modal: 1300;
    --elevation-popover: 1400;
  }
}

@layer props.fonts {
  :root {
    --font-family-base:
      'proxima-nova', /* mac */ -apple-system, BlinkMacSystemFont, /* win */ 'Segoe WPC', 'Segoe UI',
      /* mobile */ 'Roboto', /* nix */ 'Oxygen', 'Ubuntu', 'Cantarell', /* FFOS */ 'Fira Sans',
      /* 'Droid */ 'Droid Sans', /* Boring */ 'Helvetica Neue', sans-serif;
    --font-family-heading:
      'proxima-nova-condensed', 'proxima-nova', /* mac */ -apple-system, BlinkMacSystemFont, /* win */ 'Segoe WPC',
      'Segoe UI', /* mobile */ 'Roboto', /* nix */ 'Oxygen', 'Ubuntu', 'Cantarell', /* FFOS */ 'Fira Sans',
      /* 'Droid */ 'Droid Sans', /* Boring */ 'Helvetica Neue', sans-serif;
    --font-size-base: 16px;
    --font-line-height-base: 1.5;
    --font-line-height-heading: 1.2;
    --font-weight-base: 400;
    --font-weight-bold: 700;
  }
}

@layer props.type {
  :root {
    --type-h1-size: var(--size-5);
    --type-h2-size: var(--size-4);
    --type-h3-size: var(--size-3);
    --type-h4-size: var(--size-2);
    --type-h5-size: var(--size-1);
    --type-h6-size: var(--size-0);
    --type-body-xl-size: var(--size-2);
    --type-body-lg-size: var(--size-1);
    --type-body-sm-size: var(--size--1);
    --type-overline-size: var(--size--2);
    --type-small-size: 0.75em; /* based on --size--1 */
  }
}

@layer base.normalize {
  :not(:defined) {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  [hidden] {
    display: none !important;
  }

  /* Can't use `box-sizing: inherit` with `html *` like I used to due to cascading issues with web component slots */
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  :where(html) {
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);
    text-size-adjust: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    :where(html) {
      scroll-behavior: smooth;
    }
  }

  :where(body) {
    margin: 0;
    min-block-size: 100%;
    font-family: var(--font-family-base);
    background-color: var(--color-primary-background);
    color: var(--color-primary-foreground);
  }

  :where(img, svg) {
    display: block;
    max-inline-size: 100%;
  }
}

@layer base.content {
  :where(h1, h2, h3, h4, h5, h6, p) {
    overflow-wrap: break-word;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-family-heading);
    line-height: var(--font-line-height-heading);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
    text-wrap: balance;
    margin-block-start: 0;
  }

  :where(h1, h2) {
    margin-block-end: var(--spacing-xl);
  }

  :where(h3, h4, h5) {
    margin-block-end: var(--spacing-lg);
  }

  :where(h6, p, ol, ul) {
    margin-block-end: var(--spacing-md);
  }

  :where(h1) {
    font-size: var(--type-h1-size);
  }

  :where(h2) {
    font-size: var(--type-h2-size);
  }

  :where(h3) {
    font-size: var(--type-h3-size);
  }

  :where(h4) {
    font-size: var(--type-h4-size);
  }

  :where(h5) {
    font-size: var(--type-h5-size);
  }

  :where(h6) {
    font-size: var(--type-h6-size);
  }

  :where(p) {
    text-wrap: pretty;
  }

  :where(button, input, select, textarea) {
    font-family: inherit;
  }

  :where(a) {
    color: var(--color-link-foreground);
  }
  :where(a:visited) {
    color: var(--color-link-visited-foreground);
  }
  :where(a:hover) {
    color: var(--color-link-hover-foreground);
  }

  :where(small) {
    font-size: var(--type-small-size);
  }
}

@layer base.loading {
  /* Shows a loading screen when :not(:defined), should probably use a real element */
  body:has(:not(:defined))::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: color-mix(in srgb, var(--color-primary-background) 90%, transparent);
    z-index: var(--elevation-cover);
    backdrop-filter: blur(16px);
  }
  body:has(:not(:defined))::after {
    content: 'Loading...';
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 2rem;
    font-weight: 900;
    clip-path: inset(0 3ch 0 0);
    animation: loading 1s steps(4) infinite;
    color: var(--color-primary-foreground);
    z-index: var(--elevation-dialog);
    position: fixed;
    inset-inline-start: 50%;
    inset-block-end: 50%;
    transform: translate(-50%, 50%);
  }

  @keyframes loading {
    to {
      clip-path: inset(0 -1ch 0 0);
    }
  }
}

/* @layer overrides.a11y {
    :where(.o-sr-only,.o-sr-only-focusable:not(:focus):not(:focus-within)) {
        clip: rect(0 0 0 0) !important;
        clip-path: inset(50%) !important;
        block-size: 1px !important;
        inline-size: 1px !important;
        overflow: hidden !important;
        position: absolute !important;
        white-space: nowrap !important;
    }
} */

@layer patterns.layout {
  .container {
    margin-inline: auto;
    padding-inline: var(--spacing-md);
    max-inline-size: 1200px;
  }
  .container--wide {
    max-inline-size: 1440px;
  }

  .layout-row {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: space-between; */
    gap: var(--spacing-xl);
  }

  .layout-row--heavy-start > *:nth-child(odd) {
    flex: 1.4;
  }
  .layout-row--heavy-start > *:nth-child(even) {
    flex: 1;
  }

  .nav-inline {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-md);
    margin-block: 0;
    padding-inline-start: 0;
  }
}

@layer patterns.content {
  .skip-link {
    position: absolute;
    z-index: var(--elevation-popover);
  }

  img.logo,
  .logo img {
    inline-size: var(--size-2);
    aspect-ratio: 1;
    block-size: auto;
  }

  .phone-swap {
    inline-size: 100%;
    max-inline-size: 600px;
    aspect-ratio: 600 / 1183;
    overflow: hidden;

    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }
  .phone-swap__finished {
    /* position: absolute;
    inset: 0; */
    transform: translateY(-100%);
    position: relative;
    /* z-index: var(--elevation-inline);
    transition: opacity 0.2s ease-out; */
    opacity: 0;
    animation: phone-swap 8.5s ease-out infinite alternate;
  }

  @keyframes phone-swap {
    0%,
    45% {
      opacity: 0;
    }
    55%,
    100% {
      opacity: 1;
    }
  }
}

@layer patterns.sections {
  .header {
    /* padding-inline: var(--spacing-md); */
    padding-block: var(--spacing-sm);
    /* -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px); */

    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: var(--elevation-sticky);
    transition:
      transform 0.2s ease-out,
      color 0.2s ease-out;

    line-height: 1;

    color: var(--color-primary-background);
    [data-past-hero='true'] & {
      color: var(--color-primary-foreground);
    }

    > * {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-sm);
    }
  }

  /* frosted glass effect */
  .header::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: var(--elevation-behind);
    block-size: 200%;
    pointer-events: none;
  }
  [data-past-hero='true'] .header::before {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(180deg, #000 0 50%, transparent 50%);
  }

  [data-scroll-direction='down'] .header {
    transform: translateY(-100%);
  }

  .header__group {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
  }
  .header__group--end {
    margin-inline-start: auto;
  }

  .header a {
    position: relative;
    font-family: var(--font-family-heading);
    color: inherit;
    fill: currentColor;
    text-decoration: none;
  }
  .header .nav-inline a {
    &::after {
      content: '';
      position: absolute;
      inset-inline-start: 0;
      inset-inline-end: 0;
      inset-block-end: 2px;
      block-size: 2px;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s ease-out;
      pointer-events: none;
    }

    &:where(:hover, :focus-visible)::after {
      transform: scaleX(1);
    }
  }
  /* .header a:hover::after,
  .header a:focus-visible::after {
    transform: scaleX(1);
  } */
}

@layer patterns.sections {
  .hero {
    min-block-size: 100svh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-foreground);
    margin-block-end: var(--spacing-3xl);
  }
  .hero__media {
    /* flex: 1; */
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
  }

  .hero__content {
    margin-block-start: auto;
    flex: 0;
  }

  .hero__heading {
    /* TODO: I know this is bad, but you can kinda still select the text if you start from the subheading */
    pointer-events: none;
    font-family: var(--font-family-heading);
    font-size: 128px;
    color: var(--color-primary-background);
    margin-block: 0;
    font-weight: 900;
    line-height: 87px;

    clip-path: rect(auto auto 0 auto);
    transform: translateY(100%);
    animation: hero-heading 0.65s ease-out 0.4s forwards;

    @media (max-width: 756px) {
      font-size: 96px;
      line-height: 65px;
    }

    @media (max-width: 580px) {
      font-size: 64px;
      line-height: 43px;
    }
  }

  @keyframes hero-heading {
    to {
      clip-path: rect(auto auto auto auto);
      transform: translateY(0);
    }
  }

  .hero__subgroup {
    z-index: 0;
    position: relative;
  }

  .hero__subgroup::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--color-primary-background);
    z-index: var(--elevation-behind);
  }

  /* .hero__subgroup > * {
    z-index: var(--elevation-inline);
  } */

  .hero__subheading {
    font-weight: 900;
    margin-block: 0 20px;
    font-size: 64px;
    line-height: 43px;
    text-transform: uppercase;

    clip-path: rect(100% auto auto auto);
    transform: translateY(-100%);
    animation: hero-subheading 0.65s ease-out 0.4s forwards;

    @media (max-width: 756px) {
      font-size: 47px;
      line-height: 31px;
    }

    @media (max-width: 580px) {
      font-size: 32px;
      line-height: 21px;
    }
  }

  @keyframes hero-subheading {
    to {
      clip-path: rect(auto auto auto auto);
      transform: translateY(0);
    }
  }

  .hero__tagline {
    font-size: 32px;
    text-transform: lowercase;
    margin-block: 20px 0;
    opacity: 0;
    animation: hero-tagline 0.65s ease-out 1s forwards;

    @media (max-width: 756px) {
      font-size: 28px;
    }

    @media (max-width: 580px) {
      font-size: 22px;
    }
  }

  @keyframes hero-tagline {
    to {
      opacity: 1;
    }
  }
}

@layer patterns.sections {
  :is(.about, .work, .connect) {
    padding-block: var(--spacing-2xl);
  }

  .about {
    min-block-size: 100svh;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: url(../media/branding/logo-outlined.svg) no-repeat center top;
      background-size: contain;
      opacity: 0.08;
      z-index: var(--elevation-behind);
      pointer-events: none;
    }
  }

  .about__content {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: space-between; */
    gap: var(--spacing-xl);
  }

  .about__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
  }

  .about__main > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__aside {
    flex: 1;
    display: none;
    position: relative;
    /* overflow: hidden;
    min-block-size: 100svh; */
  }

  @media (min-width: 700px) {
    .about__aside {
      display: block;
    }
  }

  @media (min-width: 920px) {
    .about__main {
      flex: 1.4;
    }
    .about__aside {
      display: block;
    }
  }
}

@layer patterns.sections {
  .connect {
    background-color: var(--color-raw-neutral-05);
  }
  .connect__content {
    &::after {
      content: '';
      display: block;
      clear: both;
    }

    img {
      float: right;
      inline-size: auto;
      block-size: 128px;
    }
  }

  .footer {
    background-color: var(--color-min);

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

/* @layer utilities {
} */
