@layer patterns.content {
  .phone-swap {
    inline-size: 100%;
    max-inline-size: 600px;
    aspect-ratio: 600 / 1183;
    overflow: hidden;

    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }
  .phone-swap__finished {
    /* position: absolute;
    inset: 0; */
    transform: translateY(-100%);
    position: relative;
    /* z-index: var(--elevation-inline);
    transition: opacity 0.2s ease-out; */
    opacity: 0;
    animation: phone-swap 8.5s ease-out infinite alternate;
  }

  @keyframes phone-swap {
    0%,
    45% {
      opacity: 0;
    }
    55%,
    100% {
      opacity: 1;
    }
  }
}

@layer patterns.sections {
  :is(.about, .work, .connect) {
    padding-block: var(--spacing-2xl);
  }

  .about {
    min-block-size: 100svh;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: url(../media/branding/logo-outlined.svg) no-repeat center top;
      background-size: contain;
      opacity: 0.08;
      z-index: var(--elevation-behind);
      pointer-events: none;
    }
  }

  .about__content {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: space-between; */
    gap: var(--spacing-xl);
  }

  .about__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
  }

  .about__main > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__aside {
    flex: 1;
    display: none;
    position: relative;
    /* overflow: hidden;
    min-block-size: 100svh; */
  }

  @media (min-width: 700px) {
    .about__aside {
      display: block;
    }
  }

  @media (min-width: 920px) {
    .about__main {
      flex: 1.4;
    }
    .about__aside {
      display: block;
    }
  }

  .work {
  }
}

/* @layer utilities {
} */
