@import url(https://use.typekit.net/bdx2zst.css);

// ----------------------------
// tools
// ----------------------------

@import "./tools/tools";

:root {
  --font-0: 18px;
  --font-1: #{scale-type(1)};
  --font-2: #{scale-type(2)};
  --font-3: #{scale-type(3)};
  --font-4: #{scale-type(4)};
  --font-5: #{scale-type(5)};
}


// ----------------------------
// elements
// ----------------------------

@import "./elements/baseline";
@import "./elements/type";


// ----------------------------
// animations
// ----------------------------

@import "./animations/animations";


// ----------------------------
// objects
// ----------------------------

@import "./objects/brand";


// ----------------------------
// layouts
// ----------------------------

@import "./layout/row";
@import "./layout/aspect";


// ----------------------------
// components
// ----------------------------


// button --------------------
.c-button {
  display: inline-block;
  padding: 7px 25px;

  font-weight: 400;
  font-size: inherit;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #CED4DE;
  background-color: #fff;
  color: #333333;
}


// menu --------------------
.c-menu {}

.c-menu__list {
  list-style: none;
  margin: 0;
  padding-left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-menu__item {}

.c-menu__link {}


// header --------------------
.c-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
  line-height: 1em;
  padding: 0.5em 1em;
  height: 60px;
}
.c-header__brand {
  font-size: 2em;
  line-height: 1;
}
.c-header__nav .c-menu__link {
  border-color: transparent;
  background-color: transparent;
}
.c-header__nav .c-menu__link:active,
.c-header__nav .c-menu__link.is-active {
  border-color: transparent;
  background-color: #93C4F5;
}


// gallery --------------------
.c-gallery {
  display: grid;
  padding: 20px;
  grid-gap: 20px;
}

.c-gallery__item {
  position: relative;
  overflow: hidden;
  background-color: #B3B3B3;
  border-radius: 2px;
}

.c-gallery__image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
}

.c-gallery--zipper {}
.c-gallery--zipper .c-gallery__item:nth-child(4n + 1) {
  grid-row: 1 / span 1;
}
.c-gallery--zipper .c-gallery__item:nth-child(4n + 2) {
  grid-row: 2 / span 2;
}
.c-gallery--zipper .c-gallery__item:nth-child(4n + 3) {
  grid-row: 1 / span 2;
}
.c-gallery--zipper .c-gallery__item:nth-child(4n + 4) {
  grid-row: 3 / span 1;
}

.c-gallery--thirds {
  grid-template-columns: repeat(3, 1fr);
}


// section --------------------
.c-section {
  padding: 60px 0;
}

.c-section--full {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.c-section--fixed-hero {
  display: flex;
  align-items: center;
  height: 100vh;
  box-shadow: inset 0 -30px 30px -30px rgba(0,0,0,0.2);
}

.c-section--dark {
  background-color: #666666;
}

.c-section--light {
  background-color: #EBF0F5;
}

.c-section--feint {
  background-color: #F6F6F6;
}

.c-section--medium {
  background-color: #EAEAEA;
}

.c-section--rough,
.c-section--polished {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100vh;
  background-position: left calc(50vw + 20px) bottom -30vh;

  animation-name: phone-home;
  animation-duration: 0.65s;
}

.c-section--rough {
  background-image: url(../media/features/phone-mergein-rough.png);
}

.c-section--polished {
  background-image: url(../media/features/phone-mergein-finished.png);
}


// footer --------------------
.c-footer {
  padding: 50px 20px;
  background-color: #313233;
  color: #B3B3B3;
}


// ----------------------------
// templates
// ----------------------------


// home ----------------------
.t-home {}

.t-home__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}


// ----------------------------
// helpers
// ----------------------------

// viewport - these are reserved
.h-vp-in,
.h-vp-in-once {
  &.is-in-view {}
}

// text
.h-txt-large {
  font-size: 1.999rem;
}

