/**
 * Styleguide-specific styles
 */

@layer props.color {
  :where([data-theme='auto'], [data-theme='light']) {
    --demo-block-background: var(--color-raw-neutral-90);
    --demo-column-background: var(--color-min);
  }

  @media (prefers-color-scheme: dark) {
    :where([data-theme='auto']) {
      --demo-block-background: var(--color-raw-neutral-05);
      --demo-column-background: var(--color-raw-neutral-10);
    }
  }

  :where([data-theme='dark']) {
    --demo-block-background: var(--color-raw-neutral-05);
    --demo-column-background: var(--color-raw-neutral-10);
  }
}

@layer patterns.styleguide {
  /* Styleguide navigation */
  .styleguide {
    margin-block: var(--spacing-2xl);
  }

  .styleguide__header {
    margin-block-start: var(--spacing-2xl);
  }

  .styleguide__nav {
    margin-block: var(--spacing-xl);
    padding: var(--spacing-md);
    background-color: var(--demo-block-background);
    border-radius: 4px;
  }

  .styleguide__nav .nav-inline {
    flex-wrap: wrap;
    row-gap: var(--spacing-sm);
  }

  /* Demo blocks */
  .demo {
    margin-block: var(--spacing-3xl);
  }

  .demo__heading {
    font-size: var(--type-h3-size);
    opacity: 0.7;
    margin-block-end: var(--spacing-sm);
  }

  .demo__subheading {
    font-size: var(--type-h4-size);
    opacity: 0.5;
    text-transform: uppercase;
    margin-block: var(--spacing-2xl) var(--spacing-sm);
  }

  .demo__block {
    background-color: var(--demo-block-background);
    padding: var(--spacing-md);
    border-radius: 4px;
  }

  .demo__column {
    background-color: var(--demo-column-background);
    padding: var(--spacing-md);
    border-radius: 2px;
  }

  /* Theme switcher */
  #theme-switcher button {
    margin-block: var(--spacing-md);
  }
}
