
.t-home {}

.t-home__header {
  transition: transform 0.25s ease-in-out;
  //background-color: #d4d8dc;
  color: #333;
}

.t-home__content {}

.t-home__footer {
  background-color: #313233;
  color: #B3B3B3;
}

.t-home.is-advancing .t-home__header {
  transform: translateY(-100%);
}