.o-brand {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
}

.o-brand__logo {
    display: inline-block;
    width: 0.833em; /* 750x900 */
    height: 1em;
    background: url(../media/branding/logo-tight.png) no-repeat center center;
    background-size: contain;
    vertical-align: baseline;
}

.o-brand__name {
    white-space: nowrap;
}

.o-brand__logo + .o-brand__name {
    margin-left: 0.25em;
}

.o-brand--no-name .o-brand__name {
    display: none;
}