// ----------------------------
// brand
// ----------------------------

.o-brand {
  display: inline-block;
  vertical-align: middle;

  color: inherit;
  text-decoration: none;
}

.o-brand__logo {
  display: inline-block;
  vertical-align: middle;

  width: 1em;
  height: 1em;
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain;
}

.o-brand__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin-left: 0.5em;
}