---
layout: base.njk
title: 404 | Keith Daulton | Design Technologist, User Experience Engineer, Technical Leader
permalink: /404.html
eleventyExcludeFromCollections: true
bundle: error.js
---

{% from "partials/hero.njk" import hero %}
{{ hero("404", "Page not found", "I really just wanted to make another hero SVG...", "d-error-image") }}

{% include "partials/connect.njk" %}
