@import url(https://use.typekit.net/bdx2zst.css);

/* root design properties */
:root {
  /* font tokens */
  --font-family-base: 'proxima-nova', sans-serif;
  --font-family-heading: 'proxima-nova-condensed', 'proxima-nova', sans-serif;
  --font-size-base: 16px;
  --font-line-height-base: 1.5;
  --font-line-height-heading: 1.1;
  --font-weight-base: 400;
  --font-weight-bold: 700;

  /* modular scale tokens - https://docs.google.com/spreadsheets/d/1hX1n-Z9jlRxA6zbIf2z8VYe56AYGVC_M2xTw9SNGwyc/edit#gid=0 */
  /* --size-scale: 1.333;
  --size--5: calc(pow(var(--size-scale), -5) * 1rem);
  --size--4: calc(pow(var(--size-scale), -4) * 1rem);
  --size--3: calc(pow(var(--size-scale), -3) * 1rem);
  --size--2: calc(pow(var(--size-scale), -2) * 1rem);
  --size--1: calc(pow(var(--size-scale), -1) * 1rem);
  --size-0: 1rem;
  --size-1: calc(pow(var(--size-scale), 1) * 1rem);
  --size-2: calc(pow(var(--size-scale), 2) * 1rem);
  --size-3: calc(pow(var(--size-scale), 3) * 1rem);
  --size-4: calc(pow(var(--size-scale), 4) * 1rem);
  --size-5: calc(pow(var(--size-scale), 5) * 1rem);
  --size-6: calc(pow(var(--size-scale), 6) * 1rem);
  --size-7: calc(pow(var(--size-scale), 7) * 1rem);
  --size-8: calc(pow(var(--size-scale), 8) * 1rem);
  --size-9: calc(pow(var(--size-scale), 9) * 1rem);
  --size-10: calc(pow(var(--size-scale), 10) * 1rem);
  --size-11: calc(pow(var(--size-scale), 11) * 1rem);
  --size-12: calc(pow(var(--size-scale), 12) * 1rem);
  --size-13: calc(pow(var(--size-scale), 13) * 1rem);
  --size-14: calc(pow(var(--size-scale), 14) * 1rem);
  --size-15: calc(pow(var(--size-scale), 15) * 1rem); */

  --size--5: 0.24rem;
  --size--4: 0.32rem;
  --size--3: 0.42rem;
  --size--2: 0.56rem;
  --size--1: 0.75rem;
  --size-0: 1rem;
  --size-1: 1.33rem;
  --size-2: 1.78rem;
  --size-3: 2.37rem;
  --size-4: 3.16rem;
  --size-5: 4.21rem;
  --size-6: 5.61rem;
  --size-7: 7.48rem;
  --size-8: 9.97rem;
  --size-9: 13.29rem;
  --size-10: 17.71rem;
  --size-11: 23.61rem;
  --size-12: 31.47rem;
  --size-13: 41.96rem;
  --size-14: 55.93rem;
  --size-15: 74.55rem;
  --size-16: 99.38rem;
  --size-17: 132.47rem;
  --size-18: 176.58rem;
  --size-19: 235.38rem;
  --size-20: 313.76rem;

  /* spacing tokens */
  --spacing-xs: var(--size--5);
  --spacing-sm: var(--size--3);
  --spacing-md: var(--size--1);
  --spacing-lg: var(--size-0);
  --spacing-xl: var(--size-1);

  /* type tokens */
  --type-h1-size: var(--size-5);
  --type-h2-size: var(--size-4);
  --type-h3-size: var(--size-3);
  --type-h4-size: var(--size-2);
  --type-h5-size: var(--size-1);
  --type-h6-size: var(--size-0);
  --type-small-size: 0.75em; /* based on --size--1 */
  --type-body-lg-size: var(--size-1);
  --type-body-xl-size: var(--size-2);
  --type-overline-size: var(--size--2);

  /* color tokens */
}

/* baseline styles */

:not(:defined) {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

[hidden] {
  display: none !important;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-base);
  line-height: var(--font-line-height-base);
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  scroll-snap-type: y proximity;
}

img {
  height: auto;
}

/* raw html styles */

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-heading);
}

h1 {
  font-size: var(--type-h1-size);
  margin-block-end: var(--spacing-xl);
}

h2 {
  font-size: var(--type-h2-size);
  margin-block-end: var(--spacing-xl);
}

h3 {
  font-size: var(--type-h3-size);
  margin-block-end: var(--spacing-lg);
}

h4 {
  font-size: var(--type-h4-size);
  margin-block-end: var(--spacing-lg);
}

h5 {
  font-size: var(--type-h5-size);
  margin-block-end: var(--spacing-lg);
}

h6 {
  font-size: var(--type-h6-size);
  margin-block-end: var(--spacing-md);
}

p,
ul {
  margin-block-start: 0;
  margin-block-end: var(--spacing-md);
}

small {
  font-size: var(--type-small-size);
}

/* class-based pattern styles */

.section {
}
.section--hero {
  height: 100vh;
  box-shadow: inset 0 -30px 30px -30px rgba(0, 0, 0, 0.2);
  content-visibility: auto;
  contain-intrinsic-block-size: 100vh;
}

.avatar {
  --avatar-size: var(--size-1);
  --avatar-name-size: var(--type-h5-size);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}
.avatar__image {
  width: var(--avatar-size);
  aspect-ratio: 1;
  object-fit: scale-down;
  object-position: center;
}
.avatar__name {
  margin-inline-start: var(--spacing-sm);
  font-size: var(--avatar-name-size);
}

.avatar--lg {
  --avatar-size: var(--size-3);
}

.avatar--xl {
  --avatar-size: var(--size-5);
}

.skip-link {
  position: absolute;
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
  padding-inline: var(--spacing-md);
  padding-block: var(--spacing-sm);
  backdrop-filter: blur(8px);
}
.header--pinned {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: 100;
}
.header__group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-sm);
}
.header__group--end {
  margin-inline-start: auto;
}

.nav {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
  margin-block: 0;
  padding-inline-start: 0;
}
.nav__item {
}
.nav__link {
  font-family: var(--font-family-heading);
  color: inherit;
  fill: currentColor;
  text-decoration: none;
}
.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--spacing-md);
  padding-inline: var(--spacing-md);
  padding-block: var(--spacing-sm);
}
.footer__group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-md);
}
.footer__group--end {
  margin-inline-start: auto;
}
.footer__brand {
}

/* utility classes */

/* natively focusable elements should use `.h-sr-only-focusable` */
.h-sr-only,
.h-sr-only-focusable:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.h-block {
  display: block;
}

.h-type-tight {
  line-height: 1;
}
