.l-container {
  $block: &;

  padding: {
    left: var(--font-1);
    right: var(--font-1);
  }

  &:not(#{$block}--fluid) {
    max-width: 1440px;
    margin: {
      left: auto;
      right: auto;
    }
  }
}
