$layout-column-width: 524px;
$layout-gutter-width: 80px;
$layout-max-width: ($layout-column-width * 2) + $layout-gutter-width;

$layout-column-aspect: $layout-column-width / $layout-max-width;
$layout-gutter-aspect: $layout-gutter-width / $layout-max-width;

$section-padding-top-aspect: 362 / 1080;

$section-mobile-gutter: 25px;
$section-mobile-gutter-aspect: ($section-mobile-gutter / 667px);



// ----------------------------
// breakpoints
// ----------------------------

$breakpoint-small: 375px;
$breakpoint-large: 850px;

// ----------------------------
// type
// ----------------------------

$type-size-val: 18px;
$type-size: 1rem;


// 1.125 to 1.414
$type-scale-small: 1.25;
$type-scale-large: 1.414;

$type-break-small: $breakpoint-small;
$type-break-large: $breakpoint-large;

// ----------------------------
// color
// ----------------------------

$grey-20: #333;
$grey-40: #666;

$grey-cool-22: #2f3337;
$grey-cool-25: #363b3f;
$grey-cool-60: #818c98;
$grey-cool-86: #d4d8dc;
$grey-cool-96: #edf1f6;

$blue-55: #1a508b;
$blue-90: #2a84e6;
$blue-94: #2d8af0;

$red-79: #c92328;
$red-83: #d32429;

$palette-blue: $blue-94;
$palette-red: $red-83;
