// ----------------------------
// type
// ----------------------------

// based on http://type-scale.com/ and http://www.modularscale.com/
$type-size--dn-1: scaleTypeLarge(-1);
$type-size--dn-2: scaleTypeLarge(-2);
$type-size--dn-3: scaleTypeLarge(-3);
$type-size--dn-4: scaleTypeLarge(-4);

$type-size--up-1: scaleTypeLarge(1);
$type-size--up-2: scaleTypeLarge(2);
$type-size--up-3: scaleTypeLarge(3);
$type-size--up-4: scaleTypeLarge(4);

$type-size-sm--dn-1: scaleTypeSmall(-1);
$type-size-sm--dn-2: scaleTypeSmall(-2);
$type-size-sm--dn-3: scaleTypeSmall(-3);
$type-size-sm--dn-4: scaleTypeSmall(-4);

$type-size-sm--up-1: scaleTypeSmall(1);
$type-size-sm--up-2: scaleTypeSmall(2);
$type-size-sm--up-3: scaleTypeSmall(3);
$type-size-sm--up-4: scaleTypeSmall(4);

// based on: https://www.smashingmagazine.com/2016/05/fluid-typography/
$type-size-fluid--dn-1: scaleTypeFluid(-1);
$type-size-fluid--dn-2: scaleTypeFluid(-2);
$type-size-fluid--dn-3: scaleTypeFluid(-3);
$type-size-fluid--dn-4: scaleTypeFluid(-4);

$type-size-fluid--up-1: scaleTypeFluid(1);
$type-size-fluid--up-2: scaleTypeFluid(2);
$type-size-fluid--up-3: scaleTypeFluid(3);
$type-size-fluid--up-4: scaleTypeFluid(4);


// ----------------------------
// color
// ----------------------------
