.l-container {
  padding-left: 25px;
  padding-right: 25px;

  max-width: #{$type-break-large};
  margin-left: auto;
  margin-right: auto;
}

.l-container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}