<!-- CONNECT -->
<section class="connect" id="connect">
  <div class="container">
    <div class="connect__content">
      <h2>Connect</h2>
      <nav id="contact-nav" aria-label="Contact Information">
        <a href="mailto:keith@keithdaulton.com"
          ><d-icon-library icon="envelope"></d-icon-library><span class="o-sr-only">Email</span></a
        >
        <a href="tel:+1-954-805-2603"
          ><d-icon-library icon="phone"></d-icon-library><span class="o-sr-only">Phone</span></a
        >
      </nav>
      <nav id="social-nav" aria-label="Social Links">
        <a target="_blank" href="https://github.com/d13"
          ><d-icon-library icon="github"></d-icon-library><span class="o-sr-only">GitHub</span></a
        >
        <a target="_blank" href="https://bsky.app/profile/keithdaulton.com"
          ><d-icon-library icon="bluesky"></d-icon-library><span class="o-sr-only">Bluesky</span></a
        >
        <a target="_blank" href="https://www.linkedin.com/in/keithdaulton"
          ><d-icon-library icon="linkedin"></d-icon-library><span class="o-sr-only">LinkedIn</span></a
        >
        <a target="_blank" href="https://dribbble.com/keithdaulton"
          ><d-icon-library icon="dribbble"></d-icon-library><span class="o-sr-only">Dribbble</span></a
        >
        <a target="_blank" href="https://codepen.io/d13"
          ><d-icon-library icon="code"></d-icon-library><span class="o-sr-only">CodePen</span></a
        >
      </nav>
      {% image "media/branding/logo-tight.png", "Keith Daulton logo", "107px", [107, 214] %}
    </div>
  </div>
</section>
