---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.manifest.name }}",
  "short_name": "{{ site.manifest.shortName }}",
  "icons": [
    {% for icon in site.manifest.icons %}
    {
      "src": "{{ icon.src }}",
      "sizes": "{{ icon.sizes }}",
      "type": "{{ icon.type }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "theme_color": "{{ site.manifest.themeColor }}",
  "background_color": "{{ site.manifest.backgroundColor }}",
  "display": "{{ site.manifest.display }}",
  "start_url": "{{ site.manifest.startUrl }}"
}
