<!doctype html>
<html lang="en" data-theme="auto">
  <head>
    {% include "layout/head.njk" %}
  </head>
  <body>
    {% include "layout/skip-links.njk" %} {% include "layout/header.njk" %}

    <main id="main">{{ content | safe }}</main>

    {% include "layout/footer.njk" %}
  </body>
</html>
