@use './settings';

@function f-pow($number, $exp) {
  $value: 1;

  @if $exp > 0 {
      @for $i from 1 through $exp {
          @if $exp < 0 {
              $value: ($value / $number);
          } @else {
              $value: ($value * $number);
          }
      }
  }

  @return $value;
}

// modular type scale: 1.414 - augmented fourth (https://type-scale.com/)
@function f-scale-type($multi, $ratio: settings.$font-base-scale, $base: 1rem) {
  @return $base * f-pow($ratio, $multi);
}

@function f-px-to-rem($size, $base: settings.$font-base-size) {
  @return ($size / $base) * 1rem;
}
